<configuration>

  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="standard" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%blue(%d{HH:mm:ss}) %magenta([%logger{0}]) %yellow(%-5level) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="silent" class="ch.qos.logback.core.NOPAppender"/>

  <root level="DEBUG">
    <!-- Use the CATALOGUE_TEST_LOGGING env var to set which logger to use -->
    <appender-ref ref="${CATALOGUE_TEST_LOGGING:-silent}"/>
  </root>

  <!-- Edit these to change the log levels for external libraries -->
  <logger name="org.apache.http" level="OFF"/>
  <logger name="io.netty" level="OFF"/>
  <logger name="com.amazonaws" level="OFF"/>
  <logger name="software.amazon.awssdk" level="OFF"/>
  <logger name="akka.actor" level="OFF"/>
  <logger name="com.sksamuel.elastic4s" level="OFF"/>
</configuration>
