services:
  unified_pipeline_task:
    image: ${REPOSITORY_PREFIX:-}unified_pipeline_task:${TAG:-dev}
    platform: linux/amd64
    build:
      context: .
      args:
        - PYTHON_IMAGE_VERSION=${PYTHON_IMAGE_VERSION:-3.13}
      dockerfile: task.Dockerfile
  unified_pipeline_lambda:
    image: ${REPOSITORY_PREFIX:-}unified_pipeline_lambda:${TAG:-dev}
    platform: linux/amd64
    build:
      context: .
      args:
        - PYTHON_IMAGE_VERSION=${PYTHON_IMAGE_VERSION:-3.13}
      dockerfile: lambda.Dockerfile
