services:
  catalogue_graph_extractor:
    image: ${REPOSITORY_PREFIX:-}catalogue_graph_extractor:${TAG:-dev}
    platform: linux/amd64
    build:
      context: .
      args:
        - PYTHON_IMAGE_VERSION=${PYTHON_IMAGE_VERSION:-latest}
      dockerfile: Dockerfile
  