name: "Catalogue pipeline: Deploy"

on:
  workflow_call:
    inputs:
      deploy_tag:
        description: "Docker image tag to deploy (e.g., commit SHA)"
        required: true
        type: string
    secrets:
      CATALOGUE_GRAPH_CI_ROLE_ARN:
        description: "Role ARN to assume for deploying catalogue graph resources"
        required: true
  workflow_dispatch:
    inputs:
      deploy_tag:
        description: "Tag to deploy (e.g., commit SHA)"
        required: true
        type: string

permissions:
  contents: read
  id-token: write

jobs: 
  retag-unified-pipeline-task-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}
      - uses: ./.github/actions/retag-docker-image
        with:
          registry: 760097843905.dkr.ecr.eu-west-1.amazonaws.com/uk.ac.wellcome
          image_name: unified_pipeline_task
          source_tag: ${{ inputs.deploy_tag }}
          target_tag: prod
          role_to_assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}

  retag-unified-pipeline-lambda-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}
      - uses: ./.github/actions/retag-docker-image
        with:
          registry: 760097843905.dkr.ecr.eu-west-1.amazonaws.com/uk.ac.wellcome
          image_name: unified_pipeline_lambda
          source_tag: ${{ inputs.deploy_tag }}
          target_tag: prod
          role_to_assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}

  retag-dated-unified-pipeline-task-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Retag dated unified pipeline task image
        id: retag
        uses: ./.github/actions/retag-dated-pipeline-image
        with:
          source_tag: ${{ inputs.deploy_tag }}
          registry: 760097843905.dkr.ecr.eu-west-1.amazonaws.com/uk.ac.wellcome
          image_name: unified_pipeline_task
          role_to_assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}
          terraform_dir: pipeline/terraform

  deploy-unified-pipeline-lambdas:
    runs-on: ubuntu-latest
    needs: [retag-unified-pipeline-lambda-image]
    strategy:
      matrix:
        lambda_name:
          [
            # Adapter lambdas
            ebsco-adapter-trigger,
            ebsco-adapter-loader,
            axiell-adapter-trigger,
            axiell-adapter-loader,
          ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/deploy-lambda-image
        with:
          lambda_name: ${{ matrix.lambda_name }}
          registry: 760097843905.dkr.ecr.eu-west-1.amazonaws.com/uk.ac.wellcome
          image_name: unified_pipeline_lambda
          deploy_tag: prod
          role_to_assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}

  deploy-dated-unified-pipeline-lambdas:
    name: Deploy dated unified pipeline lambdas
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component:
          # Transformer lambdas
          - transformer
          # Graph subsystem lambdas
          - graph-remover
          - graph-es-pit-opener
          - graph-bulk-load-poller
          - graph-bulk-loader
          - graph-remover-incremental
          - graph-ingestor-deletions


    steps:
      - uses: actions/checkout@v3
      - name: Deploy dated pipeline lambda (latest)
        uses: ./.github/actions/deploy-dated-pipeline-lambda
        with:
          source_tag: ${{ inputs.deploy_tag }}
          registry: 760097843905.dkr.ecr.eu-west-1.amazonaws.com/uk.ac.wellcome
          image_name: unified_pipeline_lambda
          role_to_assume: ${{ secrets.CATALOGUE_GRAPH_CI_ROLE_ARN }}
          aws_region: eu-west-1
          lambda_suffix: ${{ matrix.component }}
