# This dependency pinning is required to get moto
# to install without updating non-test deps
pytest-cov
moto==1.3.6
boto3==1.7.45
botocore==1.10.45
docutils==0.14
jmespath==0.9.3
python-dateutil==2.7.3
six==1.11.0
-e ../../../common/catalogue_python_fixtures
